body{
    background: rgb(255, 255, 255);
}
.titulo{
    color:#ffffff;
    list-style-image: url(/assets/apple_logo-removebg-preview-removebg-preview.png);
    font-size: 280%;
    margin: 20px;
}
hr{
    opacity: 0.18;
}
.geral{
    padding:10px;
    width: 800px;
    height: 600px;
    margin:auto;
    margin-top: 10%; 
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, rgba(250, 50, 50, 0.5), rgb(255, 22, 22));

}
a{
    text-decoration: none;
    color: #ffffffa9;
    transform: rotateY(-50%)
}

.tab1{
    width: 380px;
    height: 400px;
    border: 1px solid;
    border-color: transparent;
}

.favorita{
    list-style-image: url(/assets/favorita.jpg);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.touro{
    list-style-image: url(/assets/touro.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.maquina{
    list-style-image: url(/assets/maquina.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.amante{
    list-style-image: url(/assets/amante.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.imagina{
    list-style-image: url(/assets/imaginarium.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}

.tab2{
    width: 380px;
    height: 400px;
    border: 1px solid;
    margin: 400px;
    margin-top:-402px;
    border-color: transparent;
}
.nada{
    list-style-image: url(/assets/nada.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.quer{
    list-style-image: url(/assets/quer_voar.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.mustang{
    list-style-image: url(/assets/mustang.png);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.olha{
    list-style-image: url(/assets/olha.jfif);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}
.suas{
    list-style-image: url(/assets/suas_intenções.png);
    list-style-position: inside;
    border: 3px solid;
    border-color: rgba(250, 147, 147, 0.18);
    border-top-color: transparent;
    border-left-color: transparent;   
    border-right-color: transparent; 
}









